<% provide(:title, 'Add member to team') %>
<h1>Add member to team</h1>
<div class = "something">

</div>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@team) do |f| %>
        <% if @team.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-error">
                The form contains <%= pluralize(@team.errors.count, "error") %>.
              </div>
              <ul>
                <% @team.errors.full_messages.each do |msg| %>
                    <li>* <%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.label :project_url %>
        <%= f.text_field :project_id %>

        <%= f.label :user_email %>
        <%= f.text_field :user_id%>



        <%= f.submit "Add user to team", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>