<% provide(:title, 'New Project') %>
<h1>Новый проект</h1>
<div class = "something">

</div>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@project) do |f| %>
        <%#= render 'shared/error_messages' %>
        <% if @project.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-error">
                The form contains <%= pluralize(@project.errors.count, "error") %>.
              </div>
              <ul>
                <% @project.errors.full_messages.each do |msg| %>
                    <li>* <%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.label "Название проекта" %>
        <%= f.text_field :project_url %>

        <%#= f.label :user_email %>
        <%#= f.text_field :user_email %>

        <%= f.label "Описание проекта" %>
        <%= f.text_area :project_story %>

        <%= f.submit "Создать новый проект", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
