
<% provide(:title, 'Edit backlog item') %>
<h1>Update backlog item</h1>
<div class = "something">

</div>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@backlogitem) do |f| %>
        <%#= render 'shared/error_messages' %>
        <% if @backlogitem.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-error">
                The form contains <%= pluralize(@backlogitem.errors.count, "error") %>.
              </div>
              <ul>
                <% @backlogitem.errors.full_messages.each do |msg| %>
                    <li>* <%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <%= f.label "Тип задачи" %>
        <%#= f.text_field :item_type %>
        <%= f.select :item_type, [['Bugfix','bugfix'],['Backlog_item','backlog_item']] %>

        <%= f.label "Название задачи" %>
        <%= f.text_field :item_title %>


        <%= f.label "Состояние задачи" %>
        <%= f.select :item_state, [['Started','started'],['In_progress','in_progress'],['Done','done'],['Removed','removed']] %>
        <%#= f.text_field :item_state %>

        <%= f.label "Описание задачи" %>
        <%= f.text_area :item_description %>

        <%= f.label "Deadline" %>
        <%= f.date_select :item_deadline %>


        <%= f.submit "Изменить задачу", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
