
<%#= @team%>

<% provide(:title, 'New backlog item') %>
<h1>Добавить задачу к проекту</h1>
<div class = "something">

</div>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@backlogitem) do |f| %>
        <%#= render 'shared/error_messages' %>
        <% if @backlogitem.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-error">
                The form contains <%= pluralize(@backlogitem.errors.count, "error") %>.
              </div>
              <ul>
                <% @backlogitem.errors.full_messages.each do |msg| %>
                    <li>* <%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.label "Название проекта" %>
        <%= f.select :project_id, [[@project.project_url,@project.id]] %>


        <%= f.label "Электронный адрес пользователя"%>
        <select id="backlog_item_user_id" name="backlog_item[user_id]">
          <%@project.teams.each do |team|%>
              <option value=<%= team.user_id %>><%= User.find(team.user_id).email %></option>
          <%end%>
        </select>
        <%#= f.select :item_type, options_from_collection_for_select(@user_email_hash, @user_email_hash[], ) %>

        <%= f.label "Тип задачи" %>
        <%#= f.text_field :item_type %>
        <%#= f.select :item_type, options_from_collection_for_select(Project.all, "id", "project_url") %>
        <%= f.select :item_type, [['Bugfix','bugfix'],['Backlog_item','backlog_item']] %>

        <%= f.label "Название задачи" %>
        <%= f.text_field :item_title %>


        <%= f.label "Состояние задачи" %>
        <%= f.select :item_state, [['Started','started'],['In_progress','in_progress'],['Done','done'],['Removed','removed']] %>
        <%#= f.text_field :item_state %>

        <%= f.label "Описание задачи"%>
        <%= f.text_field :item_description %>

        <%= f.label "Срок сдачи" %>
        <%= f.date_select :item_deadline %>


        <%= f.submit "Добавить новую задачу к проекту", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
